<div class="children-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 children-index-container">
        <h1 class="text-center text-color">子ども一覧</h1>
        <% @children.each do |child|%>
          <div class="child">
            <%= child.name %>
            <%= child.icon %>
            <%= link_to "編集", "#" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= link_to "子どもを登録する", new_child_path %>
      </div>
    </div>
  </div>
</div>