<div class="result-index-wrapper">
  <div class="container">
    <div class="result-index-container">
      <h1 class="text-center text-color">お手伝いポイント</h1>
      <%= month_calendar events: @results do |date, results| %>
        <%= date.day %>
        
        <% displayed_children = [] %>
        <% results.each do |result| %>
          <%if(!displayed_children.include?(result.child)) %>
            <%= link_to result.child.name, result_path(result.id, date: result.completion_date) %>
          <% end %>
          <% displayed_children.push(result.child) %>
        <% end %>  
      <% end %>
    </div>
  </div>
</div>