<div class="result-month-wrapper">
  <div class="container">
    <div class="row">
      <div class="result-month-container">
        <div class="col-md-offset-9 col-md-3 text-color point-container">
          <h2>今月のポイント</h2>
          <% @children.each do |child|%>
            <div class="child-point">
              <p class="text-right child-name"><%= child.name %></p>
              <p>：</p>
              <p></p>
            </div>
          <% end %>
        </div>
        <%= month_calendar events: @results do |date, results| %>
          <%= date.day %>
          
          <% displayed_children = [] %>
          <% results.each do |result| %>
            <%if(!displayed_children.include?(result.child)) %>
              <%= link_to result.child.name, results_path(date: result.completion_date) %>
            <% end %>
            <% displayed_children.push(result.child) %>
          <% end %>  
        <% end %>
      </div>
    </div>
  </div>
</div>