<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-color">お手伝いポイント管理</h1>
    <h2 class="text-color">お手伝いポイントをためてお小遣いをゲットしよう！</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to '新規登録', new_parent_path, class: 'btn btn-block btn-color' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'ログイン', login_path, class:'btn btn-block btn-color' %>
      </div>
    </div>
  </div>
</div>