<div class="help-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 help-new-container">
        <h1 class="text-center text-color">お手伝い編集</h1>
        <% provide(:button_text, '変更する') %>
        <%= render 'form' %>
        <%= link_to "戻る", helps_path, class: "text-color" %>
      </div>
    </div>
  </div>
</div>