@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin wrapper {
  width: 100vw;
  min-height: 100vh;
  background-color: #fef6e4;
}

/*共通*/
h1,h2 {
  font-weight: 100;
}

.text-color {
  color: #001858;
}

.btn-color {
  color: #001858;
  // border: 1px solid #bebebe;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: #f582ae;
  
  &:hover {
    color: #bebebe;
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
  // margin-bottom: 0px;
  background-color: #fef6e4;
  // a {
  //   color: #fbf7d5 !important;
  // }
  
  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
}

/*forms*/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend.has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form-group {
    margin-bottom: 20px;
  }
  
.form-control {
  height: 45px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* トップページ*/

.top-hero-wrapper {
  @include wrapper;
}

.top-hero-container {
  padding-top: 220px;
  
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 60px;
  }
}

/* 親アカウント新規登録ページ*/
.parents-new-wrapper {
  @include wrapper;
}

.parents-new-container {
  padding-top: 220px;
  
  a {
    display: block;
  }
}

/* アイコン登録ページ*/
.icons-new-wrapper {
  @include wrapper;
  
  .icons-new-container {
    padding-top: 220px;
  }
}

/* アイコン一覧ページ*/
.icons-index-wrapper {
  @include wrapper;
  
  .icons-index-container {
    padding-top: 220px;
  }
}

/* こども登録ページ*/
.child-new-wrapper {
  @include wrapper;
  
  .child-new-container {
    padding-top: 150px;
    
    .icon-select {
      float: left;
    }
  }
}

/* 子供一覧ページ*/
.children-index-wrapper {
  @include wrapper;
  
  .children-index-container {
    padding-top: 150px;
    
  }
}

/* お手伝い登録ページ、お手伝い編集ページ*/
.help-new-wrapper {
  @include wrapper;
  
  .help-new-container {
    padding-top: 150px;
    
    p {
      font-weight: bold;
    }  
  }
}

/* お手伝い一覧ページ*/
.helps-index-wrapper {
  @include wrapper;
  padding-bottom: 100px;
  
  .helps-index-container {
    padding-top: 150px;
    
    // h2 {
    //   font-size: 20px;
    // }
    
    table{
      background-color: #f3d2c1;
      margin: 10px 0 20px 0;
      width: 100%;
      
      th, td {
        padding: 10px;
        border: 1px solid #001858;
      }
    }
  }
}

/* リクエスト登録ページ*/
.request-new-wrapper {
  @include wrapper;
  
  .request-new-container {
    padding-top: 150px;
    
    p {
      font-weight: bold;
    }  
  }
}

/* リクエスト一覧ページ*/
.requests-index-wrapper {
  @include wrapper;
  padding-bottom: 100px;
  
  .requests-index-container {
    padding-top: 150px;
    
    table{
      background-color: #f3d2c1;
      margin: 10px 0 20px 0;
      width: 100%;
      
      th, td {
        padding: 10px;
        border: 1px solid #001858;
      }
    }
  }
}

/* 申請登録ページ*/
.apply-new-wrapper {
  @include wrapper;
  
  .apply-new-container {
    padding-top: 150px;
    
    table{
      background-color: #f3d2c1;
      margin: 10px 0 20px 0;
      width: 100%;
      
      th, td {
        padding: 10px;
        border: 1px solid #001858;
      }
    }
  }
}

/* 申請一覧ページ*/
.applies-index-wrapper {
  @include wrapper;
  
  .applies-index-container {
    padding-top: 150px;
    
    .table-date {
      font-size: 10px;
    }
    
    table{
      background-color: #f3d2c1;
      margin: 10px 0 20px 0;
      width: 100%;
      
      th, td {
        padding: 10px;
        border: 1px solid #001858;
      }
    }
  }
}

/* 承認登録ページ*/
.result-new-wrapper {
  @include wrapper;
  
  .result-new-container {
    padding-top: 150px;
  
    p {
      font-weight: bold;
      color: #001858;
    }  
  }
}

/* 承認結果ページ*/
.result-index-wrapper {
  @include wrapper;
  
  .result-index-container {
    padding-top: 150px;
  }
}

/* 承認詳細ページ*/
.result-show-wrapper {
  @include wrapper;
  
  .result-show-container {
    padding-top: 150px;
    
    table{
      background-color: #f3d2c1;
      margin: 10px 0 20px 0;
      width: 100%;
      
      th, td {
        padding: 10px;
        border: 1px solid #001858;
      }
    }
  }
}
