h1,h2 {
  font-weight: 100;
}

.text-color {
  color: #001858;
}

.btn-color {
  color: #001858;
  // border: 1px solid #bebebe;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: #f582ae;
  
  &:hover {
    color: #bebebe;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fef6e4;
}

.top-hero-container {
  padding-top: 220px;
  
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.parents-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fef6e4;
  
  .parents-new-container {
    padding-top: 220px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
  // margin-bottom: 0px;
  background-color: #fef6e4;
  // a {
  //   color: #fbf7d5 !important;
  // }
  
  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
}