<div class="icons-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 icons-index-container">
        <h1 class="text-center text-color">アイコン一覧</h1>
        <% @icons.each do |icon|%>
          <%= image_tag(icons_path(icon.id)) %>
        <% end %>
      </div>
    </div>
  </div>
</div>